<h1>IdeaBox</h1>

<form action="/<%= idea.id %>" method="POST">
  <p>
  Edit your Idea:
  </p>
  <input type="hidden" name="_method" value="PUT" />
  <label>Title:
    <input type='text' name='idea[title]' value="<%= idea.title %>"/><br/>
  </label>
  <label>Description:
    <textarea name='idea[description]'><%= idea.description %></textarea><br/>
  </label>
  <label>Tags:
    <textarea name='idea[tags]'><%= idea.tags.join(", ") %></textarea><br/>
  </label>
  <input type='submit'/>
</form>
